.nav {
    display: flex;
    background: #21222A;
    padding-left: 25px;
    justify-content: space-between;
}

.nav > h4 {
    padding-right: 25px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color:white;
    text-align: right;
    line-height: 19px;
    
}


.logo-brand {
    display: flex;
    align-items: center;
    color:#61DAFB;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 27px;
    letter-spacing: .05em;

}

.logo-brand > h3 {
    padding-left: 10px;
}

.content {
    background: #282D35;
    color: white;
    background-image: url(./assets/react-icon-large.png);
    background-repeat: no-repeat;
    background-position: right 75%;
    padding: 25px;
    font-family: 'inter';
    
}

.content > ul > li {
    font-size: 12px;
    line-height: 30px;
    font-weight: 300;
    max-width: 280px;
}

.content > ul >li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}